figure[class*=listing] {
  margin: 0;
}

.listing {
  margin: 0;
  width: 100%;
  text-align: center;
}

.listing pre{
  margin: 0;
  text-align: left;
}

.listing .fakelabel {
  max-height: 2px;
  visibility: hidden;
}
