a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

a:link {
  color: #3a5a76;
}

a:visited {
  color: #3a5a76;
}

.bolded { font-weight: bold; }

h1 {
  margin-top: 2ex;
  text-align: left;
  font-size: 2em;
}

h1::after {
  display: inline-block;
  content: "";
  border-bottom: .1rem solid black;
  width: 100%;
  padding: 0 0 1ex 0;
}

.textarea {
  text-align: justify;
  line-height: 3ex;
}


h2 {
  margin-top: 3ex;
  margin-bottom: 1ex;
  text-align: left;
}

h3 {
  margin-top: 3ex;
  margin-bottom: 2ex;
  text-align: left;
}



body {
  counter-reset : h1;
  background-color: #ffffff;
}

article h1 {counter-reset : h2}
article h2 {counter-reset : h3}
article h3 {counter-reset : h4}
article h4 {counter-reset : h5}
article h5 {counter-reset : h6}

article[class*=autoitemizing] h1 {display: list-item;}
article[class*=autoitemizing] h2 {display: list-item;}
article[class*=autoitemizing] h3 {display: list-item;}
article[class*=autoitemizing] h4 {display: list-item;}
article[class*=autoitemizing] h5 {display: list-item;}

article[class*=autonumbering] h1:before {
  content : counter(h1,decimal) ". ";
  counter-increment : h1;
}

article[class*=autonumbering] h2 {display: block}
article[class*=autonumbering] h3 {display: block}
article[class*=autonumbering] h4 {display: block}
article[class*=autonumbering] h5 {display: block}
article[class*=autonumbering] h6 {display: block}

article[class*=autonumbering] h2:before {
  content : counter(h1,decimal) "." counter(h2,decimal) ". ";
  counter-increment : h2;
}

article[class*=autonumbering] h3:before {
  content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) ". ";
  counter-increment : h3;
}
article[class*=autonumbering] h4:before {
  content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";
  counter-increment : h4;
}

article[class*=autonumbering] h5:before {
  content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) ". ";
  counter-increment : h5;
}

article[class*=autonumbering] h6:before {
  content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) "." counter(h6,decimal) ". ";
  counter-increment : h6;
}

article h2.nocount:before,
article h3.nocount:before,
article h4.nocount:before,
article h5.nocount:before,
article h6.nocount:before {
  content : "";
  counter-increment : none;
}

.toc[class*=autonumbering] ul { counter-reset: item;  list-style-type: none; }
.toc[class*=autonumbering] li a:before { content: counters(item, ".") ". "; counter-increment: item }

code {
  background-color: #f0f3f3;
  font-size: 0.9em;
  font-family: Roboto Mono, monospace;
  white-space: nowrap;
}

pre {
  padding: 0em 0em 0em 1em;
  margin-bottom: 6ex;
  margin-left: 4em;
  border-radius: 0.5rem;
}

pre code {
  background-color: inherit;
  white-space: inherit;
}

blockquote {
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 4px solid #ccc;
  font-size: 1.2em;
  line-height: 1.5;
}

/* Styling for the citation/source */
blockquote p {
  margin: 0;
}

/* Optional styling for the citation/source */
blockquote cite {
  display: block;
  margin-top: 10px;
  font-style: italic;
  font-size: 1.1em;
}
