@media only screen and (min-width: 960px) {
  .mobile-only {
    display: none;
  }
  .print-only {
    display: none;
  }

  html {
    scroll-padding-top: 5em;
  }

  .navbar {
    background-color: #5c99ab;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .mobile-only {
    display: none;
  }

  .navbar li {
    float: left;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  .navbar li a {
    display: block;
    padding: 10px 30px 10px 10px;
    text-decoration: none;
    color: #f2f2f2;
  }

  .navbar li a:hover,
  .navbar .menu-btn:hover {
    background-color: #f4f4f4;
    color: #f2f2f2;
  }

  .navbar .logo {
    display: block;
    float: left;
    color: #f2f2f2;
    font-size: 1.5em;
    text-align: center;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar .menu {
    float: right;
    clear: none;
    max-height: none;
    transition: max-height .2s ease-out;
  }

  .navbar .menu-icon {
    display: none;
    cursor: pointer;
    float: right;
    padding: 20px 20px;
    position: relative;
    user-select: none;
  }

  .navbar .menu-btn {
    display: none;
  }

  .pagearea{
    margin-left: max(0px,calc((100% - 1920px)/2));
    min-height: calc(99vh - 11ex);
    margin-top: 8ex;
  }

  .textarea{
    margin-left: max(600px,min(720px,calc((100% - 960px)/2)));
    margin-right: min(80px);
    max-width: 920px;
    padding-left: 3em;
  }

  .textarea .page-title {
    font-size: 2em;
  }

  .textarea .page-author {
  }

  .textarea .page-author a{
    color: #ababab
  }

  .textarea .page-timestamp{
    color: #ababab;
  }


  .toc {
    width: max(240px,min(480px,calc((100% - 900px)/2)));
    position: fixed;
    top: 5em;
  }

  .sideimage {
    width: max(600px,min(480px,calc((100% - 900px)/2)));
    position: fixed;
    top: 5em;
  }

  .footer {
    background-color: #c5c5c5;
    width: 100%;
    padding-bottom: 0vh;
    padding-top: 0vh;
    font-size: 1em;
    text-align: center;
    z-index: 3;
  }
  .footer .image {
    height: 1.2em;
  }


}


