<ul>
  {{ range .Site.Sections.ByTitle }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ if .Pages }}
      {{ partial "walk.html" . }}
    {{ end }}
  {{ end }}
</ul>
