<div class="equation" >
  <figure class="equation" id="{{.Get "label"}}">
  {{ print "\\begin{" ( .Get "env") "}" }}
  {{ .Inner }}
  {{ print "\\label{" ( .Get "label") "}" }}
  {{ print "\\end{" ( .Get "env") "}" }}
  <figcaption>
    <a href="#{{.Get "label"}}">
      <b> Equation \ref{equation1}.  </b>
      {{ .Get "caption" }}
    </a>
  </figcaption>
  </figure>

</div>
