<div class="listing" >
  {{ if .Page.Scratch.Get "ListingCounter" }}
  {{ $.Page.Scratch.Set "ListingCounter" (add ($.Page.Scratch.Get "ListingCounter") 1) }}
  {{ else }}
  {{ $.Page.Scratch.Set "ListingCounter" 1 }}
  {{ end }}

  <figure class="listing" id="{{.Get "label"}}">
    {{ if .Get "label" }}
    <div class="fakelabel">
      \begin{align}
      faketext
      {{ print "\\label{" (.Get "label" ) "}" }}
      \tag{ {{$.Page.Scratch.Get "ListingCounter"}} }
      \end{align}
    </div>
  {{ end }}
  {{ .Inner }}
  <figcaption>
    <a href="#{{.Get "label"}}">
      <b> Listing {{$.Page.Scratch.Get "ListingCounter"}}.</b>
      {{ .Get "caption" }}
    </a>
  </figcaption>
  </figure>
</div>
